<section class="character">
  <div class="container">
    <div class="character-wrapper">
      <div class="character-list">
        <app-character-item
          *ngFor="let characterItem of characterList"
          [characterItem]="characterItem"
          class="character-list__item"
        ></app-character-item>
      </div>
      <div class="character-pagination">
        <ngb-pagination
          [collectionSize]="totalCharacters"
          [maxSize]="maxSize"
          [(page)]="currentPage"
          [rotate]="true"
          [pageSize]="pageSize"
          (pageChange)="onPageChange($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</section>
