@import 'src/assets/scss/theme-angular-starter1/bootstrap/_variables.scss';

section.view {
  .view-wrapper {
    padding: 0px 105px;

    @media only screen and (max-width: get-breakpoint(sm)) {
      padding: 0 0;
    }
  }

  button {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.2s ease-out;
    height: 60px;
    min-width: 143px;
    margin-bottom: 20px;

    &:hover {
      background-color: grey;
      transition: 0.2s ease-out;
    }
  }

  .item {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    background-color: #3c3e44;

    &-image {
      max-width: 592px;
      max-height: 572px;
      width: 100%;
      object-fit: contain;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &-details {
      margin: 25px;
      // width: 100%;

      &__title {
        color: #f5f5f5;
        font-size: 27px;
        font-weight: 800;
        line-height: 30px;
        text-decoration: none;
      }

      &__status {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;

        .status-indicator {
          width: 9px;
          height: 9px;
          border-radius: 50%;
          margin-right: 5px;
        }

        .alive {
          background-color: #5c4;
        }

        .dead {
          background-color: #d63d2e;
        }

        .unknown {
          background-color: #9e9e9e;
        }
      }

      &__subtitle {
        color: #9e9e9e;
        font-size: 15px;
        font-weight: 500;
        line-height: 30px;
        display: block;
        padding-top: 9px;
      }

      &__text {
        color: #f5f5f5;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
      }
    }

    @media only screen and (max-width: get-breakpoint(tb)) {
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      &-image {
        max-width: 450px;
        max-height: 450px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    // @media only screen and (max-width: get-breakpoint(sm)) {
    //   max-width: 450px;

    //   &-image {
    //     max-width: 180px;
    //     max-height: 170px;
    //   }

    //   &-details {
    //     padding: 8px 9px;

    //     &__title {
    //       font-size: 20px;
    //     }

    //     &__subtitle {
    //       padding-top: 0px;
    //       line-height: normal;
    //     }

    //     &__text {
    //       font-size: 16px;
    //     }
    //   }
    // }

    // @media only screen and (max-width: 500px) {
    //   max-width: 300px;
    //   flex-direction: column;
    //   align-items: center;

    //   &-image {
    //     border-top-right-radius: 10px;
    //     border-bottom-right-radius: 10px;
    //   }

    //   &-details {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //   }
    // }
  }
}
