.container {
  background-color: #272b33;
  // height: 100rem; //delete after adding heroes
  padding: 40px 110px;
}

.button-filter {
  display: flex;
  justify-content: flex-start;
}

.hero-items {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
