.container {
  height: 50vh;
  background-image: url("/assets/rick-and-morty.svg");
  background-position: center;
  background-size: cover;
  h1 {
    // right: 50%;
    // transform: translateY(100%);
    position: absolute;
    top: 30%;
    // transform: translateY(-50%);
    align-items: center;
    width: 100%;
    font-size: 100px;
    text-align: center;
  }
}
