.container {
  // position: relative;
  height: 50vh;
  background-image: url("/assets/rick-and-morty.svg");
  background-position: center;
  background-size: cover;
  h1 {
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);

    right: 50%;
    transform: translateY(100%);
    width: 100%;
    font-size: 100px;
    text-align: center;
    // font-weight: 900;
    // word-wrap: break-word;
  }
}
