// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $angular-starter1-primary: mat.define-palette(mat.$indigo-palette);
$angular-starter1-primary: mat.define-palette(mat.$blue-grey-palette);
// $angular-starter1-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-starter1-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-starter1-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-starter1-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-starter1-primary,
      accent: $angular-starter1-accent,
      warn: $angular-starter1-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-starter1-theme);

@import 'src/assets/scss/theme-angular-starter1/fonts';

@import 'src/assets/scss/theme-angular-starter1';

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
s h1 {
  font-size: inherit;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-form-field-bottom-align {
  height: 0px !important;
}
.mat-mdc-form-field {
  max-height: 57px !important;
}

:root {
  --pagination-background-color: #3c3e44;
  --pagination-text-color: #fff;
  --pagination-active-text-color: #3c3e44;
  --pagination-active-background-color: #fff;
  --pagination-hover-background-color: #fff;
}

.page-link {
  background-color: var(--pagination-background-color);
  border-color: var(--pagination-background-color);
  color: var(--pagination-text-color);

  @media only screen and (max-width: 400px) {
    font-size: 12px;
  }
}

.page-link:focus {
  box-shadow: 0 0 0 0 0.25rem rgba(139, 139, 139, 0.308);
}
.page-item.active .page-link {
  background-color: var(--pagination-active-background-color);
  border-color: var(--pagination-background-color);
  color: var(--pagination-active-text-color);
}

.page-link:hover {
  background-color: var(--pagination-hover-background-color);
}
